.svn/
Backlinks/
Bugzilla/
Evolution/
ExportToHtml/
FileSystemSyncService/
FixedWidth/
GalagoPresence/
InsertTimestamp/
Makefile.am
NoteDirectoryWatcher/
NoteOfTheDay/
PrintNotes/
Sketching/
SshSyncService/
StickyNoteImport/
Tasks/
Tasque/
Underline/
VoiceNotes/
WebDavSyncService/
WebSyncService/
EncryptedFileSystemSyncService/bin/
EncryptedFileSystemSyncService/obj/
PrivateNotesAddin/bin/
PrivateNotesAddin/obj/
TestProject/bin/
TestProject/obj/
*.csproj.user